@import "_brakpoints";
@import "_mixin";
@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 50px;
  width: 100%;
  @media (min-width: $mobileS) and (max-width: $mobileL) {
    max-width: 320px;
  }
  @media (min-width: $laptop) and (max-width: $desktop) {
    max-width: 900px;
  }
  @media (min-width: $desktop) {
    max-width: 1200px;
  }
}

.site-header {
  backdrop-filter: blur(8px);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.7);
  left: 0;
  min-height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
  &__visible {
    @media (max-width: $mobileL) {
      display: none;
    }
  }
}

.navigation {
  font-family: 'Lato', sans-serif;
  margin: 0;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    background: $black;
    border: solid $grey 1px;
    border-radius: 6px;
    padding: 8px 10px;
    min-width: 120px;
    height: 20px;
  }
  &__link {
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.7);
    color: $whitesmoke;
    font-size: 14px;
    text-decoration: none;
    &--footer {
      bottom: 10px;
      position: fixed;
      right: 10px;
      text-decoration: none;
      @media (min-width: $mobileS) and (max-width: $tablet) {
        display: none;
      }
    }
    &:hover {
      color: $whitesmoke;
      font-size: 16px;
      font-weight: bold;
    }
  }
  &__list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    width: 100%;
    @media (max-width: $tablet) {
      display: none;
    }
    &--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      line-height: 32px;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
    }
    &--weeks {
      display: none;
    }
    &--visible {
      display: flex;
    }
  }
  &__switcher {
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    top: 16px;
    left: 12px;
  }
}

.footer {
  bottom: 10px;
  clear: both;
  font-family: 'Lato', sans-serif;
  left: 10px;
  &__paragraph {
    font-size: 14px;
    bottom: 10px;
    left: 10px;
  }
}

.homepage {
  margin: 0;
  &__link {
    color: black;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    text-decoration: none;
    &--position {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      margin: 0;
    }
    &:hover {
      color: $darkred;
      font-size: 32px;
    }
  }
  &__list {
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
    @media (min-width: $desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__form {
    border: 3px solid $darkred;
    border-radius: 30px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.7);
    font-family: 'Bangers', cursive;
    height: 100%;
    margin: 30px auto 10px;
    max-width: 500px;
    padding: 10px;
    width: 100%;
    &--height {
      margin: 0;
      padding: 10px;
    }
    &--text {
      align-items: center;
      color: $black;
      display: flex;
      font-size: 28px;
      height: 100%;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        font-size: 30px;
      }
    }
    &:hover {
      background: $grey;
    }
  }
  &__week {
    border: 3px solid $darkred;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.7);
  }
}

.header {
  padding: 10px;
  border: 3px solid $darkred;
  border-radius: 30px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.7);
  height: 100%;
  margin: 0px auto 40px;
  max-width: 680px;
  width: 100%;
  @media (max-width: $tablet) {
    margin: 10px auto;
  }
  &__title {
    color: $black;
    font-size: 48px;
    font-family: 'Bangers', cursive;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: $mobileL) {
      font-size: 32px;
    }
    &--red {
      color: $darkred;
    }
  }
}

.section {
  margin: 30px auto 10px;
  &__header {
    height: 50px;
    margin: 10px auto;
    padding: 10px;
  }
  &__title {
    color: black;
    font-size: 34px;
    line-height: 25px;
    margin: 0;
    text-align: center;
    font-family: 'Bangers', cursive;
  }
}

.day {
  margin-bottom: 15px;
  &__paragraph {
    color: black;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
    @media (max-width: $mobileL) {
      padding: 0 0 0 5px;
    }
    &--center {
      text-align: center;
    }
    &--lorem {
      margin: 0;
    }
  }
  &__subtitle {
    color: $violet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0 0 20px;
    text-align: center;
    @media (max-width: $tablet) {
      border-bottom: double $darkBlue;
    }
  }
  &__subtitle::before {
    content: "";
    display: inline-block;
    background: yellow;
    width: 24px;
    height: 24px;
    border: solid 2px $grey;
    border-radius: 50%;
    margin-right: 5px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__subtitle::after {
    content: "";
    display: inline-block;
    background: rgb(145, 36, 155);
    width: 24px;
    height: 24px;
    border: solid 2px $grey;
    border-radius: 50%;
    margin-left: 5px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__title {
    border: 3px solid $darkred;
    color: $black;
    font-size: 30px;
    font-family: 'Bangers', cursive;
    margin: 0 auto 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    width: 100%;
  }
}

.list {
  padding: 0;
  &__item {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0 100px;
    padding: 0;
    &--circle {
      list-style: circle outside;
    }
    @media (max-width: $tablet) {
      margin: 0 0 0 20px;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 15px 0 15px 30px;
  }
  &__totality {
    margin: 0;
    padding: 0;
  }
}

.http-code {
  background-image: url(../assets/img/225.png);
  background-position: center center;
  background-size: cover;
  border: solid $grey 3px;
  border-radius: 30px;
  margin: 10px auto;
  max-width: 300px;
  width: 100%;
  &__text {
    color: black;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    &--color2 {
      color: green;
    }
    &--color3 {
      color: blue;
    }
    &--color4 {
      color: orangered;
    }
    &--color5 {
      color: red;
    }
  }
}

.attention {
  border: 3px $grey solid;
  color: $red;
  font-size: 20px;
  font-weight: 800;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.terminal {
  background: black;
  color: white;
  margin: 0;
  width: 160px;
}

.lorem {
  margin: 15px auto;
  max-width: 80vw;
  max-height: 400px;
  overflow: scroll;
  width: 100%;
}

.img__box-model-korsan {
  border: 2px solid #00487c;
  float: left;
  margin: 15px;
  max-width: 100px;
  width: 100%;
}

.img__box-model-korsan {
  border: 2px solid $darkBlue;
  float: left;
  margin: 15px;
  max-width: 100px;
  width: 100%;
}

.img__korsan-lorem {
  border: 2px solid $darkBlue;
  border-radius: 50%;
  margin: 0 0 10px 0;
  max-width: 200px;
  overflow: hidden;
  width: 100%;
  &--signature {
    color: $grey;
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin: 0;
  }
}

.img,
.img__bem,
.img__box-model,
.img__dethStar,
.img__grid {
  @include imgWidth;
  @media (max-width: $mobileL) {
    width: 280px;
  }
}

.img__position {
  display: flex;
  justify-content: center;
}

.table {
  border: solid $grey 3px;
  border-collapse: collapse;
  margin: 10px auto;
  table-layout: auto;
  text-align: center;
  width: 60%;
  &__inside-border {
    border: solid black 1px;
  }
  &__thead {
    background-color: lightgrey;
  }
}

.web-link {
  text-decoration: none;
  color: $darkBlue;
  &:visited {
    color: $darkBlue;
  }
  &:hover {
    color: $darkred;
    font-weight: bold;
  }
}

.form {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
  &__window:focus {
    border: 3px red solid;
  }
  &__fieldset {
    min-width: 200px;
  }
}

.grid__media-queries-test {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  @media (max-width: $mobileL) {
    grid-template-columns: 1fr;
  }
}

.grid-week6 {
  display: grid;
  grid-template-areas:
    "header header header"
    "content . menu"
    "footer footer footer";
  grid-template-columns: 1fr 50px 150px;
  grid-column-gap: 16px;
  &__content {
    grid-area: content;
  }
  &__header {
    grid-area: header;
  }
  &__footer {
    grid-area: footer;
    text-align: center;
  }
  &__link {
    text-decoration: none;
    color: $darkred;
    line-height: 32px;
  }
  &__list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    list-style: square;
  }
  &__menu {
    grid-area: menu;
    @media (max-width: $mobileL){
        display: none;
      }
  }
}


@media (max-width: 600px) {
  .grid-week6__menu {
    display: none;
  }
  .grid-week6 {
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: 1fr;
  }
}

.json {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.parent-selector {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

